@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to delete this machine?</h2>

<hr />
<h4>Machine Brand Name: @Html.DisplayFor(model => model.MachineBrandName)</h4>
<h4>Machine Model Name: @Html.DisplayFor(model => model.MachineModelName)</h4>
<h4>Machine Production Year: @Html.DisplayFor(model => model.MachineProductionYear)</h4>
<h4>Machine Serial Number: @Html.DisplayFor(model => model.MachineSerialNumber)</h4>
<h4>Date of Machine Inspection: @Html.DisplayFor(model => model.DateOfMachineInspection, new {@type="date"})</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<hr />
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Back to all machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> 
