@{
  Layout = "_Layout";
}
@using Factory.Models;
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h4>Machine Brand Name: @Html.DisplayFor(model => model.MachineBrandName)</h4>
<h4>Machine Model Name: @Html.DisplayFor(model => model.MachineModelName)</h4>
<h4>Machine Production Year: @Html.DisplayFor(model => model.MachineProductionYear)</h4>
<h4>Machine Serial Number: @Html.DisplayFor(model => model.MachineSerialNumber)</h4>
<h4>Date of Machine Inspection: @Html.DisplayFor(model => model.DateOfMachineInspection, new {@type="date"})</h4>

@if (Model.Engineers.Count == 0)
{
  <p>No engineers licensed to repair this machine.</p>
}
else
{
  <p>@Html.DisplayFor(model => model.MachineBrandName) @Html.DisplayFor(model => model.MachineModelName) | @Html.DisplayFor(model => model.MachineProductionYear) migth be repaired by the next engineer(s):</p>
  <ul>
    @foreach (var join in Model.Engineers)
    {
        <li>@Html.ActionLink($"{@join.Engineer.EngineerFirstName + " " + @join.Engineer.EngineerLastName + " ( License Number: " + @join.Engineer.EngineerLicenseNumber + " )"}", "Details", "Engineers", new {id=join.Engineer.EngineerId}, null)</li>
    }
  </ul>
}

<hr />
<p>@Html.ActionLink("Add Engineer to Machine", "AddEngineer", new{id=Model.MachineId})</p>
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId})</p>
<p>@Html.ActionLink("Back to all machines", "Index")</p>
<p>@Html.ActionLink("Back to all engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

