@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Edit @Html.DisplayFor(model => model.MachineBrandName) @Html.DisplayFor(model => model.MachineModelName) | @Html.DisplayFor(model => model.MachineProductionYear)</h4>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model =>model.MachineId)
  @Html.Label("Machine Brand Name: ")
  @Html.EditorFor(model => model.MachineBrandName)
  @Html.Label("Machine Model Name: ")
  @Html.EditorFor(model => model.MachineModelName)
  @Html.Label("Machine Production Year: ")
  @Html.EditorFor(model => model.MachineProductionYear)
  @Html.Label("Machine Serial Number: ")
  @Html.EditorFor(model => model.MachineSerialNumber)
  @Html.Label("Date of Machine Inspection: ")
  @Html.EditorFor(model => model.DateOfMachineInspection, new {@type="date"})

  <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back to machine details", "Details", new {id=Model.MachineId})</p>
<p>@Html.ActionLink("Back to all machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> 
